.DS_Store
node_modules/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
dist/linux-unpacked
dist/builder-effective-config.yaml
dist/edy_1.0.0_amd64.snap
dist/edy-1.0.0-x86_64.AppImage
dist/latest-linux.yml